.toolbar {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
  /* height: 100%; */
  /* background-color: #f0f0f0; */
  width: 100%;
  .button-container{
    row-gap: 10px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    button{
      height: 23px;
      font-size: 12px;
    }
  }
}